<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Desafio 1</title>
</head>
<body class="home" style="background-image: url({{ background }})">
    <header>
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo UNES">
        <nav>
            <a href="/">Home</a><span class="linha_vertical"></span>
            <a href="/quemsomos">Quem somos</a><span class="linha_vertical"></span>
            <a href="/contato">Contato</a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <h4>Todos os direitos reservados</h4>
    </footer>
</body>
</html>