{% extends 'base.html' %}

{% block content %}
    <div class="texto">
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem at incidunt earum, esse saepe, quo architecto in distinctio obcaecati quidem, quod amet eaque dolorum totam maxime ea non commodi molestiae.</p>
    </div>
    <hr>
    <form action="">
        <label for="">Seu e-mail:</label>
        <input type="email">
        <label for="">Assunto:</label>
        <input type="text">
        <label for="">Descrição:</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>
{% endblock %}